<div class="row">
  <div class="col-md-12 m-2">
      <app-cabezera></app-cabezera>
  </div>
</div>
<div class="row">
  <div class="col-md-4 m-2">
    <a class="btn btn-outline-success" routerLink="/registro">Nuevo</a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 m-3">
      <div class="table-responsive">
          <table class="table table-sm">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col">ID</th>
                      <th scope="col">USUARIO</th>
                      <th scope="col">PASSWORD</th>
                      <th scope="col">ESTADO</th>                      
                      <th scope="col">ROLES</th>
                      <th scope="col"></th>
                      <th scope="col"></th>
                  </tr>
              </thead>
              <tbody *ngFor="let usuario of usuarios">
                  <tr>
                      <th scope="row">{{usuario.id}}</th>
                      <td>{{usuario.username}}</td>
                      <td>{{usuario.password}}</td>
                      <td>{{usuario.enabled}}</td>
                      <td>
                        <select class="custom-select" name="roles">
                            <option *ngFor="let rol of usuario.roles">{{rol.authority}}</option>
                        </select> 
                      </td>                     
                      <td>
                          <button type="button" class="btn btn-outline-info">
                              <span class="material-icons">edit</span>
                          </button>
                      </td>
                      <td>
                          <button type="button" class="btn btn-outline-danger">
                          <span class="material-icons">delete</span>
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
          <app-pagi-rgta *ngIf="paginador" [paginador]="paginador"></app-pagi-rgta>
      </div>
  </div>
</div>