<div class="row">
  <div class="col-md-12">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{articulo.descripcion}}</h5>
              <ul class="list-group">
                <li class="list-group-item">
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group-item">Categoria</li>
                    <li class="list-group-item text-right">{{articulo.arincat.descripcion}}</li>                    
                  </ul>
                </li>
                <li class="list-group-item">
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group-item text-right">Familia</li>
                    <li class="list-group-item text-right">{{articulo.arinfa.descripcion}}</li>                    
                  </ul>
                </li>
                <li class="list-group-item">
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group-item">Catalogo</li>
                    <li class="list-group-item">{{articulo.catalogo.descripcion}}</li>                    
                  </ul>
                </li>
                <li class="list-group-item">
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group-item">Linea</li>
                    <li class="list-group-item">{{articulo.linea.descripcion}}</li>                    
                  </ul>
                </li>
                <li class="list-group-item">
                  <ul class="list-group list-group-horizontal-sm">
                    <li class="list-group-item">Codigo</li>
                    <li class="list-group-item">{{articulo.idArti.noArti}}</li>                    
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-md-12">
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
          <label class="custom-file-label" for="inputGroupFile04">Subir Imagen</label>
        </div>
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Button</button>
        </div>
      </div>
  </div>
</div>